@page
@model RCA_Asigurari.Pages.Judete.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Judet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Judet.Judetul)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Judet.Judetul)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Judet?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
