<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RCA_Asigurari</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RCA_Asigurari.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <style>
        .sigla {
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }

        .nav-link {
            color: black !important;
            font-weight: 300 !important;
        }

        .nav-item:hover {
            background-color: white;
        }

            .nav-item:hover .nav-link {
                color: black !important;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img align="center" src="~/imagini/logo.png" alt="Sigla" class="sigla" asp-append-version="true" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-eye-fill"></i>    <i class="bi bi-list-stars"></i>
                                Liste
                            </a>
                            <ul class="dropdown-menu dropdown-menu">
                                <li>   <a class="nav-link text-dark" asp-area="" asp-page="/Clienti/Index"><i class="bi bi-people-fill"></i> Clienti</a>   </li>
                                <li>  <a class="nav-link text-dark" asp-area="" asp-page="/Vehicule/Index"><i class="bi bi-car-front-fill"></i> Vehicule</a>  </li>
                                <li>  <a class="nav-link text-dark" asp-area="" asp-page="/PersoaneFizice/Index"><i class="bi bi-people-fill"></i>Persoane fizice</a></li>
                                <li>  <a class="nav-link text-dark" asp-area="" asp-page="/PersoaneJuridice/Index"><i class="bi bi-people-fill"></i> Persoane juridice </a></li>
                                <li>  <a class="nav-link text-dark" asp-area="" asp-page="/Oferte/Index"><i class="bi bi-coin"></i> Oferte </a></li>
                        </li>

                    </ul>
                    <ul>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-pencil"></i>
                                Adauga
                            </a>
                            <ul class="dropdown-menu dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Inregistreaza client nou</a>
                                </li>
                                <li>  <a class="nav-link text-dark" asp-area="" asp-page="/Clienti/Create"> Clienti</a>  </li>

                                <li>  <a class="nav-link text-dark" asp-area="" asp-page="/Vehicule/Index"><i class="bi bi-car-front-fill"></i> Vehicule</a>  </li>
                                <li>  <a class="nav-link text-dark" asp-area="" asp-page="/PersoaneFizice/Create"><i class="bi bi-people-fill"></i>Persoane fizice</a></li>
                                <li>  <a class="nav-link text-dark" asp-area="" asp-page="/PersoaneJuridice/Create"><i class="bi bi-people-fill"></i> Persoane juridice </a></li>
                        </li>
                    
                    </ul>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Oferte/Create"><i class="bi bi-pencil-square"></i> Calculeaza oferta RCA </a>
                    </li>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RCA_Asigurari - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>