@page
@model RCA_Asigurari.Pages.PersoaneFizice.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PersoanaFizica</h4>
<hr />
<div class="formular">
    <div >
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersoanaFizica.ClientID" class="control-label"></label>
                <select asp-for="PersoanaFizica.ClientID" class="form-control" asp-items="ViewBag.ClientID">
                    <option value="" disabled selected> -Selectati:- </option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}