@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    input[type=text]:focus {
        border: 3px solid #555;
    }

   

    .register-button {
        background-color: #C47777;
        border-radius: 12px;
        width: 150px;
        height:40px;
        font-family: Calibri;
        font-style: italic;
        font-size: 25px;
        float: right;
    }

        .register-button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .register-button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .register-button:hover span {
            padding-right: 25px;
        }

            .register-button:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>
<div>
    <div class="overflow-auto">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <h2>Înregistrează-te!</h2>

            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           



           @* <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;width:1000px">
*@

            <div class="register-form-divs" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr">
               
                        <div class="col-md-11">
                            <label asp-for="Client.TipClientID" class="control-label"></label>
                                <select asp-for="Client.TipClientID" class="form-control" asp-items="ViewBag.TipClientID">
                                    <option value="" disabled selected>Selectati tipul de client:</option>
                                </select>
                            </div>
                        <div class="col-md-11">
@*                            <label asp-for="Input.NumeProprietar"></label>
*@ Nume și prenume
                            <input asp-for="Input.NumeProprietar" class="form-control" autocomplete="name" aria-required="true" />
                                <span asp-validation-for="Input.NumeProprietar" class="text-danger"></span>
                            </div>

                        <div class="col-md-11">
                            <label asp-for="Client.JudetID" class="control-label"></label>
                                <select asp-for="Client.JudetID" class="form-control" asp-items="ViewBag.JudetID">
                                    <option value="" disabled selected>Selectati judetul:</option>
                                </select>
                            </div>

                        <div class="col-md-11">
                            <label asp-for="Input.Localitate"></label>

                            <input asp-for="Input.Localitate" class="form-control" autocomplete="name" aria-required="true" />
                                <span asp-validation-for="Input.Localitate" class="text-danger"></span>
                            </div>
                        <div class="col-md-11">
                            <label asp-for="Input.Strada"></label>

                            <input asp-for="Input.Strada" class="form-control" autocomplete="name" aria-required="true" />
                                <span asp-validation-for="Input.Strada" class="text-danger"></span>
                            </div>
                        <div class="col-md-11">
                            <label asp-for="Input.Numar"></label>

                            <input asp-for="Input.Numar" class="form-control" autocomplete="name" aria-required="true" />
                                <span asp-validation-for="Input.Numar" class="text-danger"></span>
                            </div>
                        <div class="col-md-11">
                            <label asp-for="Input.CodPostal"></label>

                            <input asp-for="Input.CodPostal" class="form-control" autocomplete="name" aria-required="true" />
                                <span asp-validation-for="Input.CodPostal" class="text-danger"></span>
                            </div>
                        <div class="col-md-11">
                            <label asp-for="Input.Telefon"></label>
                            <input asp-for="Input.Telefon" class="form-control" autocomplete="name" aria-required="true" />
                       
                                <span asp-validation-for="Input.Telefon" class="text-danger"></span>
                            </div>
                        <div class="col-md-11">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                        <div class="col-md-11">
                            Parola
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        <div class="col-md-11">
                           Confirmă parola
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
               
                @*<div class="col-12" >
                    <div class="form-group">
                        <div class="form-check" style="color:black">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required/>
                            <label class="form-check-label" for="invalidCheck2" style="color:black; font-weight:bold;"> Am citit <a asp-area="" asp-page="/Privacy" style="font-style:italic">condițiile!</a> </label>
                        </div>
                    </div>
                </div>*@

                <div class="col-12">
                    <div class="form-group">
                        <div class="form-check" style="color:black">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" data-val="true" data-val-required="The Am citit condițiile! field is required." required>
                            <label class="form-check-label" for="invalidCheck2" style="color:black; font-weight:bold;"> Am citit <a asp-area="" asp-page="/Privacy" style="font-style:italic">condițiile!</a> </label>
                        </div>
                       @* <span asp-validation-for="Input." class="text-danger"></span> *@
                    </div>
                </div>


                <button id="registerSubmit" type="submit" class="register-button" @*class="w-64 btn btn-lg btn-primary"*@ @*style="background-color:#C47777; float: right;border-radius: 12px;"*@><span>Register</span></button>

                </div>
        @*    </div>*@

        </form>
    </div>


    
</div>

@section Scripts {
    @*<script>
        $(document).ready(function () {
            let localitati = @Html.Raw(Json.Serialize(Model.Localitati));

            $("#judetDropdown").on("change", function () {
                let selectedJudet = $(this).val();
                let filteredLocalitati = localitati.filter(function (localitate) {
                    return localitate.group.name === selectedJudet;
                });

                $("#localitateDropdown").empty().append("<option>Select a Localitate</option>");
                $.each(filteredLocalitati, function (index, localitate) {
                    $("#localitateDropdown").append(`<option value="${localitate.value}">${localitate.text}</option>`);
                });
            });
        });
    </script>*@

    <partial name="_ValidationScriptsPartial" />
}
