@page
@model RCA_Asigurari.Pages.Clienti.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client</h4>
<hr />
<div class="formular">
    <div @*class="col-md-4"*@>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*
                <div class="form-group">
                    <label asp-for="Client.RadioButtonClienti" class="control-label">Alege tipul de client: </label>
                    @foreach (var figurina in Model.RadioButtonClienti)
                    {
                        <input type="radio" asp-for="Client.RadioButtonClient" value="@figurina" />

                        @figurina

                    }

                    <span asp-validation-for="Client.RadioButtonClienti" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="Client.TipAsiguratID" class="control-label"></label>
                    <select asp-for="Client.TipAsiguratID" class="form-control" asp-items="ViewBag.TipAsiguratID"></select>
                </div>
                <label asp-for="Client.CNP" class="control-label"></label>
                <input asp-for="Client.CNP" class="form-control" />
                <span asp-validation-for="Client.CNP" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Client.NumeProprietar" class="control-label"></label>
                <input asp-for="Client.NumeProprietar" class="form-control" />
                <span asp-validation-for="Client.NumeProprietar" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="Client.JudetID" class="control-label"></label>
                    <select asp-for="Client.JudetID" class="form-control" asp-items="ViewBag.JudetID">
                        <option value="" disabled selected>-Selectati judetul:-</option>
                    </select>


                </div>
                <div class="form-group">
                    <label asp-for="Client.LocalitateID" class="control-label"></label>
                    <select asp-for="Client.LocalitateID" class="form-control" asp-items="ViewBag.LocalitateID">
                        <option value="" disabled selected>-Selectati localitatea:-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Strada" class="control-label"></label>
                    <input asp-for="Client.Strada" class="form-control" />
                    <span asp-validation-for="Client.Strada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Numar" class="control-label"></label>
                    <input asp-for="Client.Numar" class="form-control" />
                    <span asp-validation-for="Client.Numar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.CodPostal" class="control-label"></label>
                    <input asp-for="Client.CodPostal" class="form-control" />
                    <span asp-validation-for="Client.CodPostal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Email" class="control-label"></label>
                    <input asp-for="Client.Email" class="form-control" />
                    <span asp-validation-for="Client.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Telefon" class="control-label"></label>
                    <input asp-for="Client.Telefon" class="form-control" />
                    <span asp-validation-for="Client.Telefon" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


        @*    <div class="form-group">
                <label asp-for="Client.PrenumeProprietar" class="control-label"></label>
                <input asp-for="Client.PrenumeProprietar" class="form-control" />
                <span asp-validation-for="Client.PrenumeProprietar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.SerieCI" class="control-label"></label>
                <input asp-for="Client.SerieCI" class="form-control" />
                <span asp-validation-for="Client.SerieCI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.NumarCI" class="control-label"></label>
                <input asp-for="Client.NumarCI" class="form-control" />
                <span asp-validation-for="Client.NumarCI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Varsta" class="control-label"></label>
                <input asp-for="Client.Varsta" class="form-control" />
                <span asp-validation-for="Client.Varsta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.CUI" class="control-label"></label>
                <input asp-for="Client.CUI" class="form-control" />
                <span asp-validation-for="Client.CUI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.TipSocietateID" class="control-label"></label>
                <select asp-for="Client.TipSocietateID" class ="form-control" asp-items="ViewBag.TipSocietateID">
                    <option value="" disabled selected>-Selectati tipul de societate:-</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Client.ActivitateSocietate" class="control-label"></label>
                <input asp-for="Client.ActivitateSocietate" class="form-control" />
                <span asp-validation-for="Client.ActivitateSocietate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.NumeFirma" class="control-label"></label>
                <input asp-for="Client.NumeFirma" class="form-control" />
                <span asp-validation-for="Client.NumeFirma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.NumeReprezentantFirma" class="control-label"></label>
                <input asp-for="Client.NumeReprezentantFirma" class="form-control" />
                <span asp-validation-for="Client.NumeReprezentantFirma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.PrenumeReprezentantFirma" class="control-label"></label>
                <input asp-for="Client.PrenumeReprezentantFirma" class="form-control" />
                <span asp-validation-for="Client.PrenumeReprezentantFirma" class="text-danger"></span>
            </div>*@
           
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
