@page
@model RCA_Asigurari.Pages.Clienti.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client</h4>
<hr />
<div class="formular">
    <div @*class="col-md-4"*@>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*
                <div class="form-group">
                <label asp-for="Client.RadioButtonClienti" class="control-label">Alege tipul de client: </label>
                @foreach (var figurina in Model.RadioButtonClienti)
                {
                <input type="radio" asp-for="Client.RadioButtonClient" value="@figurina" />
                @figurina
                }
                <span asp-validation-for="Client.RadioButtonClienti" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="Client.TipAsiguratID" class="control-label"></label>
                <select asp-for="Client.TipAsiguratID" class="form-control" asp-items="ViewBag.TipAsiguratID"></select>
                </div>
                <label asp-for="Client.CNP" class="control-label"></label>
                <input asp-for="Client.CNP" class="form-control" />
                <span asp-validation-for="Client.CNP" class="text-danger"></span>
                </div>*@
                <select asp-for="Client.Judet" asp-items="@Model.Judete" class="form-control" id="judetDropdown">
                    <option>Select a Judet</option>
                </select>

                <select asp-for="Client.Localitate" asp-items="@Model.Localitati" class="form-control" id="localitateDropdown">
                    <option>Select a Localitate</option>
                </select>

                <div class="form-group">
                    <label asp-for="Client.NumeProprietar" class="control-label"></label>
                    <input asp-for="Client.NumeProprietar" class="form-control" />
                    <span asp-validation-for="Client.NumeProprietar" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                    <label asp-for="Client.Strada" class="control-label"></label>
                    <input asp-for="Client.Strada" class="form-control" />
                    <span asp-validation-for="Client.Strada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Numar" class="control-label"></label>
                    <input asp-for="Client.Numar" class="form-control" />
                    <span asp-validation-for="Client.Numar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.CodPostal" class="control-label"></label>
                    <input asp-for="Client.CodPostal" class="form-control" />
                    <span asp-validation-for="Client.CodPostal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Email" class="control-label"></label>
                    <input asp-for="Client.Email" class="form-control" />
                    <span asp-validation-for="Client.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Telefon" class="control-label"></label>
                    <input asp-for="Client.Telefon" class="form-control" />
                    <span asp-validation-for="Client.Telefon" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            let localitati = @Html.Raw(Json.Serialize(Model.Localitati));

            $("#judetDropdown").on("change", function () {
                let selectedJudet = $(this).val();
                let filteredLocalitati = localitati.filter(function (localitate) {
                    return localitate.group.name === selectedJudet;
                });

                $("#localitateDropdown").empty().append("<option>Select a Localitate</option>");
                $.each(filteredLocalitati, function (index, localitate) {
                    $("#localitateDropdown").append(`<option value="${localitate.value}">${localitate.text}</option>`);
                });
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}