@page
@model RCA_Asigurari.Pages.Clienti.EditModel

@{
    ViewData["Title"] = "Edit";
}


<hr />
<div class="formulare">
    <div >
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Client.ID" />
      
         
            @*<div class="form-group">
                <label asp-for="Client.NumeProprietar" class="control-label"></label>
                <input asp-for="Client.NumeProprietar" class="form-control" />
                <span asp-validation-for="Client.NumeProprietar" class="text-danger"></span>
            </div>
            <div class="col-md-11">
                <label asp-for="Client.JudetID" class="control-label"></label>
                <select asp-for="Client.JudetID" class="form-control" asp-items="ViewBag.JudetID">
                    <option value="" disabled selected>Selectati judetul:</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Client.Strada" class="control-label"></label>
                <input asp-for="Client.Strada" class="form-control" />
                <span asp-validation-for="Client.Strada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Numar" class="control-label"></label>
                <input asp-for="Client.Numar" class="form-control" />
                <span asp-validation-for="Client.Numar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.CodPostal" class="control-label"></label>
                <input asp-for="Client.CodPostal" class="form-control" />
                <span asp-validation-for="Client.CodPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Email" class="control-label"></label>
                <input asp-for="Client.Email" class="form-control" />
                <span asp-validation-for="Client.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Telefon" class="control-label"></label>
                <input asp-for="Client.Telefon" class="form-control" />
                <span asp-validation-for="Client.Telefon" class="text-danger"></span>
            </div>*@
            <div class="col-md-11">
                <label asp-for="Client.TipClientID" class="control-label"></label>
                <select asp-for="Client.TipClientID" class="form-control" asp-items="ViewBag.TipClientID">
                    <option value="" disabled selected>Selectati tipul de client:</option>
                </select>
            </div>
            <div class="col-md-11">
                @*                            <label asp-for="Input.NumeProprietar"></label>
                *@ Nume și prenume
                <input asp-for="Client.NumeProprietar" class="form-control" autocomplete="name" aria-required="true" />
                <span asp-validation-for="Client.NumeProprietar" class="text-danger"></span>
            </div>

            <div class="col-md-11">
                <label asp-for="Client.JudetID" class="control-label"></label>
                <select asp-for="Client.JudetID" class="form-control" asp-items="ViewBag.JudetID">
                    <option value="" disabled selected>Selectati judetul:</option>
                </select>
            </div>

            <div class="col-md-11">
                <label asp-for="Client.Localitate"></label>

                <input asp-for="Client.Localitate" class="form-control" autocomplete="name" aria-required="true" />
                <span asp-validation-for="Client.Localitate" class="text-danger"></span>
            </div>
            <div class="col-md-11">
                <label asp-for="Client.Strada"></label>

                <input asp-for="Client.Strada" class="form-control" autocomplete="name" aria-required="true" />
                <span asp-validation-for="Client.Strada" class="text-danger"></span>
            </div>
            <div class="col-md-11">
                <label asp-for="Client.Numar"></label>

                <input asp-for="Client.Numar" class="form-control" autocomplete="name" aria-required="true" />
                <span asp-validation-for="Client.Numar" class="text-danger"></span>
            </div>
            <div class="col-md-11">
                <label asp-for="Client.CodPostal"></label>

                <input asp-for="Client.CodPostal" class="form-control" autocomplete="name" aria-required="true" />
                <span asp-validation-for="Client.CodPostal" class="text-danger"></span>
            </div>
            <div class="col-md-11">
                <label asp-for="Client.Telefon"></label>
                <input asp-for="Client.Telefon" class="form-control" autocomplete="name" aria-required="true" />

                <span asp-validation-for="Client.Telefon" class="text-danger"></span>
            </div>
            <div class="col-md-11">
                <label asp-for="Client.Email"></label>
                <input asp-for="Client.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Client.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvează" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Renunță!</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
