@page
@model RCA_Asigurari.Pages.ContactUsModel
@{
}
<style>
    
#contatti {
/*    background-color: #70c3be;
*/    letter-spacing: 2px;
}

 #contatti a {
/*        color: #fff;
*/ color: black;        
text-decoration: none;
    }

#author a {
    color: #fff;
    text-decoration: none;
}

    .send-button {
        background-color: #C47777;
        border-radius: 12px;
        width: 120px;
        font-family: Calibri;
        font-style: italic;
        font-size: 20px;
        float: right;
    }

        .send-button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .send-button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .send-button:hover span {
            padding-right: 25px;
        }

            .send-button:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">


<div class="row" id="contatti">
    <div class="container mt-5">

        <div class="row" style="height:550px;">
            <div class="col-md-6 maps">
  <iframe src=" https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43744.40740940626!2d23.490400496516564!3d46.74468010892089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490e47689260ed%3A0x941b29241ee14710!2sVIVO*21!5e0!3m2!1sro!2sro!4v1679579672894!5m2!1sro!2sro"   frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">

    <h2 class="subtitlu"> Contactați-ne!</h2>
              

                <div class="contact-wrapper">
                    <form action="mailto:paulaardelean01@yahoo.com" method="post" enctype="text/plain">
                        <div class="row">
                         
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <textarea type:"text" class="form-control" rows="1" placeholder="Nume" name="Nume" style="color:#66A1A8" required></textarea>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <textarea type:"text" class="form-control" rows="1" placeholder="Telefon" name="Telefon" style="color:#66A1A8" required></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea type:"text" class="form-control" rows="2" placeholder="Mesaj" name="Mesaj" style="color:#66A1A8" required></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="form-check" style="color:black">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                        <label class="form-check-label" for="invalidCheck2" style="color:black; font-weight:bold;"> Am citit <a asp-area="" asp-page="/Privacy" style="font-style:italic">condițiile!</a> </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="send-button" type="submit"><span>Trimite</span></button>
                            </div>
                    </form>
                </div>


                <div class="text-black" style="width:350px" >
                    <h2 class="subtitlu" > Unde ne găsiți:  </h2>
                    <i class="fas fa-phone mt-3" style="color:black"></i> <a href="tel:+" style="color:black"> 0364 457 547</a><br>
                    <i class="fa fa-envelope mt-3" style="color:black"></i> <a href="" style="color:black">RCAsimuluator@office.ro</a><br>
                    <i class="bi bi-geo-alt mt-3" style="color:black"></i> <a style="color:black">VIVO! | Str. Avram Iancu 492-500, Floreşti, Jud. Cluj, 407280</a><br>

                </div>
            </div>

        </div>
    </div>
</div>

<script>
    document.querySelector('#contact-form').addEventListener('submit', (e) => {
        e.preventDefault();
        e.target.elements.name.value = '';
        e.target.elements.email.value = '';
        e.target.elements.message.value = '';
    });
</script>