@page
@model RCA_Asigurari.Pages.ContactUsModel
@{
}
<h1>  Pagina noastra de contact!</h1>
<p>
    <html>
    <body>
        <h2>Ai întâmpinat probleme sau necesiți informații suplimentare? Ne poți trimite un email mai jos:</h2>
        <form action="mailto:hossu.maria@yahoo.com" method="post" enctype="text/plain">
            Student Name:<br><input type="text" name="sname"> <br>
            Mesajul tău:<br><input type="text" style="width: 400px ; height: 200px"><br>
            <input type="submit" value="Send">
        </form>
    </body>
</html>
</p>