@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .imagineHome {
        border-radius: 50%;
        border: 5px solid #C47777;
        padding: 5px;
        width: 250px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Asigurari RCA</h1>
    <p>  Calculeaza-ti propria oferta de asigurare</p>
    <img align="center" src="~/imagini/sigla.png" alt="Sigla" class="imagineHome" />


</div>
