@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>Politică de confidențialitate</h3>

<p>
   Vă mulțumim că ați vizitat site-ul nostru care simulează asigurări RCA. Noi vă luăm în serios confidențialitatea și ne angajăm să vă protejăm informațiile personale. Această politică de confidențialitate prezintă modul în care colectăm, utilizăm și protejăm datele dumneavoastră cu caracter personal atunci când utilizați site-ul nostru web.
 </p>
 <strong>Informațiile pe care le colectăm</strong>
<p>Atunci când utilizați site-ul nostru web, o să colectăm informații personale pe care ni le furnizați în mod voluntar, cum ar fi numele dumneavoastră, 
    adresa de e-mail, numărul de telefon și alte informații relevante pentru simularea asigurărilor RCA. În plus, este posibil să colectăm informații despre 
    computerul sau dispozitivul dvs. mobil, cum ar fi adresa dvs. IP și tipul de browser, pentru a ne ajuta să îmbunătățim performanța și funcționalitatea 
    site-ului nostru web.</p>

<strong>Utilizarea informațiilor</strong>
<p>
    Folosim informațiile pe care le colectăm pentru a vă oferi serviciile pe care le solicitați, cum ar fi simularea asigurărilor RCA și pentru a îmbunătăți performanța și funcționalitatea site-ului nostru. De asemenea, putem folosi informațiile dumneavoastră personale pentru a vă trimite e-mailuri promoționale sau buletine informative despre serviciile noastre, dar puteți renunța la primirea acestor comunicări în orice moment.
</p>

<strong>Dezvaluire de informatii</strong>
<p>
    Nu vindem sau închiriem informațiile dumneavoastră personale către terți. Cu toate acestea, este posibil să vă împărtășim informațiile cu furnizori de servicii terți de încredere care ne ajută să ne operăm site-ul web, cum ar fi găzduirea site-ului web, analiza datelor și serviciile de marketing. Acești furnizori de servicii sunt obligați prin contract să păstreze informațiile dumneavoastră confidențiale și să le folosească numai în scopul de a ne furniza servicii.
</p>

<strong>Securitate</strong>
<p>
    Luăm măsuri rezonabile pentru a vă proteja informațiile personale împotriva accesului, dezvăluirii sau utilizării neautorizate. Folosim criptarea și alte măsuri de securitate pentru a preveni accesul neautorizat la informațiile dvs. personale și limităm accesul la informațiile dvs. personale doar acelor angajați și contractori care trebuie să le cunoască pentru a vă oferi serviciile noastre.
</p>


@*<strong>Link-uri de la terți</strong>
<p>
    Site-ul nostru web poate conține link-uri către alte site-uri web care nu sunt deținute sau controlate de noi. Nu suntem responsabili pentru practicile de confidențialitate sau conținutul acestor site-uri web ale terților. Vă încurajăm să citiți politicile de confidențialitate ale acestor site-uri web înainte de a le oferi informații personale.
</p>*@


<strong>Modificări ale acestei politici de confidențialitate</strong>
<p> 
    Ne rezervăm dreptul de a actualiza această politică de confidențialitate în orice moment. Vă încurajăm să revizuiți periodic această pagina pentru a rămâne informați cu privire la practicile noastre de confidențialitate.
</p>

<strong>Contactaţi-ne</strong>
<p>
    Dacă aveți întrebări sau nelămuriri cu privire la această politică de confidențialitate sau la practicile noastre de confidențialitate, vă rugăm să ne contactați <a asp-area="" asp-page="/ContactUs">aici.</a> Vom face tot posibilul pentru a vă adresa preocupărilor în timp util și eficient.
</p>
