@page
@model RCA_Asigurari.Pages.Oferte.CreateModel

@{
    ViewData["Title"] = "Create";
}
<h1>Calculeaza o oferta RCA</h1>

<h4>Va rugam sa completati urmatoarele campuri: </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Oferta.ClientID" class="control-label">Proprietar</label>
                <select asp-for="Oferta.ClientID" class ="form-control" asp-items="ViewBag.ClientID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.NumarIdentificare" class="control-label"></label>
                <input asp-for="Oferta.NumarIdentificare" class="form-control" />
                <span asp-validation-for="Oferta.NumarIdentificare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.NrInmatriculare" class="control-label"></label>
                <input asp-for="Oferta.NrInmatriculare" class="form-control" />
                <span asp-validation-for="Oferta.NrInmatriculare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.Marca" class="control-label"></label>
                <input asp-for="Oferta.Marca" class="form-control" />
                <span asp-validation-for="Oferta.Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.Model" class="control-label"></label>
                <input asp-for="Oferta.Model" class="form-control" />
                <span asp-validation-for="Oferta.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.AnFabricatie" class="control-label"></label>
                <input asp-for="Oferta.AnFabricatie" class="form-control" />
                <span asp-validation-for="Oferta.AnFabricatie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.CapacitateCilindrica" class="control-label"></label>
                <input asp-for="Oferta.CapacitateCilindrica" class="form-control" />
                <span asp-validation-for="Oferta.CapacitateCilindrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.SerieCIV" class="control-label"></label>
                <input asp-for="Oferta.SerieCIV" class="form-control" />
                <span asp-validation-for="Oferta.SerieCIV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.NrLocuri" class="control-label"></label>
                <input asp-for="Oferta.NrLocuri" class="form-control" />
                <span asp-validation-for="Oferta.NrLocuri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.MasaMaxima" class="control-label"></label>
                <input asp-for="Oferta.MasaMaxima" class="form-control" />
                <span asp-validation-for="Oferta.MasaMaxima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.Putere" class="control-label"></label>
                <input asp-for="Oferta.Putere" class="form-control" />
                <span asp-validation-for="Oferta.Putere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.CategorieVehiculID" class="control-label">Categoria</label>
                <select asp-for="Oferta.CategorieVehiculID" class ="form-control" asp-items="ViewBag.CategorieVehiculID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Oferta.TipCombustibilID" class="control-label">Tipul de combustibil</label>
                <select asp-for="Oferta.TipCombustibilID" class ="form-control" asp-items="ViewBag.TipCombustibilID"></select>
            </div>
            <div class="form-group">
 <div class="table">
 <table>
 <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AssignedOptionalDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
         <input type="checkbox"
         name="selectedAttributes"
         value="@cat.OptionalID"
                                    @(Html.Raw(cat.Assigned ?
                                   "checked=\"checked\"" : "")) />
                                    @cat.AtributOptional
                                    @:</td>
                                }
                                @:</tr>
                            }
 </table>
 </div>
 </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="background-color:#C47777" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
