html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a {
    color: black;
    font-weight: bold;
}

a:hover {
    color: #C47777;
    text-decoration: none;
}

body {
    background-image: url('../imagini/background1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 60px;

}


.footer {
    background-color: #C47777;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/*button {
    background-color: #C47777;
}*/

.btn-primary {
    color: black;
    background-color: #C47777;
    border-color: white;
    font-family: Calibri;
    font-style: italic;
    /* padding: 15px 25px;
    font-size: 24px;*/
    text-align: center;
    cursor: pointer;
/*    outline: none;*/
    border: none;
    border-radius: 15px;
    box-shadow: 2px 4px #b05f5f;
}
    .btn-primary:hover {
        color: white;
        background-color: #C47777;
        border-color: black;
        box-shadow: 1px 4px #e0a2a2;
    } 

.container {
    display: flex;
    justify-content: flex-start;
}


@media (max-width: 575.98px) {

    #contatti {
        padding-bottom: 800px;
    }

        #contatti .maps iframe {
            width: 100%;
            height: 450px;
        }
}


@media (min-width: 576px) {

    #contatti {
        padding-bottom: 800px;
    }

        #contatti .maps iframe {
            width: 100%;
            height: 450px;
        }
}

@media (min-width: 768px) {

    #contatti {
        padding-bottom: 350px;
    }

        #contatti .maps iframe {
            width: 100%;
            height: 850px;
        }
}

@media (min-width: 992px) {
    #contatti {
        padding-bottom: 200px;
    }

        #contatti .maps iframe {
            width: 100%;
            height: 700px;
        }
}
.subtitlu {
    font-family: serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

.form-divs {
    width:auto;
    border: 3px solid #C47777;
    padding: 8px;
    margin: 3px;
    border-style: inset;
    border-width: 20px 5px 10px 10px;

   /* position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}
.form-divs-create-offer {
    width: 80%;
    border: 3px solid #C47777;
    padding: 8px;
    margin: 3px;
    border-style: inset;
    border-width: 20px 5px 10px 10px;
    left: 15%;
    /* position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);*/
}
.oferte-divs-pf {
    /*    border: 1px solid #ccc;*/
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 20%;
    border: 3px solid #C47777;
    border-style: inset;
    border-width: 20px 5px 10px 10px;
}
.oferte-divs-pj {
    /*    border: 1px solid #ccc;*/
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 30%;
    border: 3px solid #C47777;
    border-style: inset;
    border-width: 20px 5px 10px 10px;
}
.register-form-divs {
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    border: 3px solid #C47777;
    padding: 8px;
    margin: 3px;
    border-style: inset;
    border-width: 20px 5px 10px 10px;
}
