html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a {
    color: black;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url('../imagini/background1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 60px;
}


.footer {
    background-color: #C47777;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

button {
    background-color: #C47777;
}


/*.container {
    display: flex;
    justify-content: flex-start;
}*/